@{
    ViewData["Title"] = "Fuel Quote Form";
}
<head>
    <link rel="stylesheet" href="~/css/fuelQuoteForm.css" asp-append-version="true" />
</head>

<h2>Fuel Quote Form</h2>

<p>Hello from our View Template!</p>
<p>Second paragraph hehehehehehe</p>

<div class="historyForm">
    <form method="POST" action="https://example.com">
        <p>
            <label for="location">Location: </label>
            <input type="text" name="location" id="location">
        </p>

        <input type="submit">
    </form>
</div>
