@{
    ViewData["Title"] = "Register";
}
<head>
    <link rel="stylesheet" href="~/css/loginRegister.css" asp-append-version="true" />
</head>

<h2>@ViewData["Title"]</h2>

<div id="registerForm">
    <form method="POST" action="https://example.com">
        <p>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
        </p>
        <p>
            <label for="city">City:</label>
            <input type="text" name="city" id="city">
        </p>
        <p>
            <label for="state">State:</label>
            <input type="text" name="state" id="state">
        </p>


        <input type="submit">
    </form>
    <a id="btn login" asp-area="" asp-controller="Home" asp-action="Login">Login</a>


</div>